/*sani's code starts*/
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color:#2E2E2E;
}
#logo{
    display: flex;
    padding: 20px 0;
    justify-content: center;
    align-items: center;
}
#logo img{
    height:100px;
    width: 120px;
}

#navbar ul {
    border: 2px sOlid goldenrod;
    list-style: none ;
    position: flex;
    width: 100%;
    

}
#navbar ul li {
    background-color:#333333;
    width: auto;
    height: 40px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 40px;
    text-align: center;
    color:white;
    float: left;
    position:relative;
    

}

#navbar ul li a{
    color:white;
    text-decoration: none;
    display: block;
}
#navbar ul li a:hover {
    color: black; 
    background-color: goldenrod;
}
#footer {

    position :flex;
    left: 0;
    bottom : 0;
    width: 100%;
    background-color:black;
    color:white;
    text-align: center;
    font-size: small;
}
.HomeIntro1 {
    display: flex;          
    align-items: center;     
    justify-content: center; 
    gap: 50px;               
    padding: 60px;      
    max-width: 1400px;      
    margin: auto;          
}

.block {
    flex: 1;                
}

#text {
    text-align: center;      
    padding: 20px;
}

#text h2 {
    font-size: 2.5rem;       
    margin-bottom: 20px;
    color: goldenrod;        
}

#text p {
    font-size: 1.2rem;
    line-height: 1.6;        
    margin-bottom: 20px;
    color:white;             
}

#text h3 {
    font-style: italic;
    color: white;
}

#HomeImg img {
    width: 100%;            
    height: auto;          
    border-radius: 10px;     
    box-shadow: 0 5px 15px rgba(0,0,0,0.5); 
    border: 2px solid goldenrod;
}
.HomeIntro2 {
    display: flex;          
    align-items: center;     
    justify-content: center; 
    gap: 50px;               
    padding: 60px;      
    max-width: 1400px;      
    margin: auto;          
}
.HomeIntro3 {
    display: flex;          
    align-items: center;     
    justify-content: center; 
    gap: 50px;               
    padding: 60px;      
    max-width: 1400px;      
    margin: auto;          
}
.HomeIntro4 {
    display: flex;          
    align-items: center;     
    justify-content: center; 
    gap: 50px;               
    padding: 60px;      
    max-width: 1400px;      
    margin: auto;    
    
}





/*sani's code ends*/