/*sani's code starts*/
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color:#2E2E2E;
}
#logo{
    display: flex;
    padding: 20px 0;
    justify-content: center;
    align-items: center;
}
#logo img{
    height:100px;
    width: 120px;
}

#navbar ul {
    border: 2px sOlid #d4af37;
    list-style: none ;
    position: flex;
    width: 100%;
    

}
#navbar ul li {
    background-color:#333333;
    width: 20%;
    height: 40px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 40px;
    text-align: center;
    color:white;
    float: left;
    position:relative;
    

}

#navbar ul li a{
    color:white;
    text-decoration: none;
    display: block;
}
#navbar ul li a:hover {
    color: black; 
    background-color: #ffd752a7;
}
/*sani's code ends*/