/*sani-code*/
#review-box { 
    max-width: 600px; 
    margin: 40px auto; 
    background: #333; 
    padding: 20px; 
    border: 2px solid goldenrod; 
    color: white; 
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
}


.scroll-list { 
    max-height: 350px;      
    overflow-y: auto;        
    margin-bottom: 20px; 
    padding: 15px; 
    background-color: rgba(255, 255, 255, 0.05); 
    border: 1px solid #444;
}


.review-item { 
    margin-bottom: 20px; 
    padding-bottom: 10px; 
    border-bottom: 1px solid #555; 
}

.user { 
    color: goldenrod; 
    font-weight: bold; 
    display: block;      
}

.date { 
    font-size: 0.8rem; 
    color: #aaa; 
}

textarea { 
    width: 100%; 
    height: 100px;
    padding: 10px; 
    background: #2E2E2E;     
    color: white; 
    border: 1px solid goldenrod; 
    margin-top: 10px; 
    border-radius: 5px;
    resize: none;             
}


.btn { 
    background: goldenrod; 
    color: #1b1b1b; 
    padding: 12px 20px; 
    border: none; 
    cursor: pointer; 
    font-weight: bold; 
    margin-top: 10px; 
    width: 100%;             
    border-radius: 5px;
    transition: 0.3s;
}

.btn:hover {
    background-color: goldenrod; 
}